<h2>Show Namespace</h2>

<ul>

  <li>
    <strong>Ns:</strong>
    <%= @namespace.ns %>
  </li>

</ul>

<span><%= link "Edit", to: namespace_path(@conn, :edit, @namespace) %></span>
<span><%= link "Back", to: namespace_path(@conn, :index) %></span>
