<h2>Show Role</h2>

<ul>

  <li>
    <strong>Role:</strong>
    <%= @role.role %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @role.description %>
  </li>

</ul>

<span><%= link "Edit", to: role_path(@conn, :edit, @role) %></span>
<span><%= link "Back", to: role_path(@conn, :index) %></span>
